<ng-container *ngIf="coinData$ | async as coinData" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 details">
                <div class="img">
                    <img [src]="coinData?.image?.large" alt="">
                    <h3 class="text-center" style="font-size: 23px" >{{coinData?.name}}</h3>
                    <h1 [innerHtml]="(coinData?.description?.en  || '').split('. ')[0]" ></h1>
                    <div class="more-detail">
                        <span class="title">Rank: </span> <span class="value" >{{coinData?.market_cap_rank}}</span><br>
                        <span class="title">Current Price: </span> <span class="value">{{coinData?.market_data?.current_price?.eur | currency: currency}}</span><br>
                        <span class="title">Market Cap: </span> <span class="value">{{coinData?.market_data?.market_cap?.eur | currency: currency}}</span>
    
                    </div>
                </div>
            </div>
        </div>
    
    </div>

</ng-container>